.odd{
    background-color: #F5275B;
    font-family: Verdana, "DejaVu Sans", sand-serif;
}

#two{
    color:#0000ff;
    font-size: 36px;
}

.three{
    font-size: 24px;
}

#four{
    background-color: #27F579;
    font-size: 24px;
    font-weight: bold;
}