body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 32px;
  padding: 0px 0px 0px 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  font-weight: 24px;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.content{
  display: flex;
  flex: 1;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}
li{
  margin-bottom: 10px;
  display: flex;
  font-size: 24px;
}

.card-container{
  display:flex;
  flex-wrap: wrap;
}

.card{
  padding: 48px;
  width: 350px;
  height: 250px;
  margin: 5px;
}