body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding:5px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: 20px
}

.content {
  background: #e3f4ff;
  margin: 2px;
  font-size: 16px;
  padding: 10px
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin:5px
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin:auto;
  padding: 10px
}